.top{
    height: 500px;
    width: 100%;
}

.form{
    background: rgb(243, 129, 243);
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group{

}

h1{
    font-size: 40px;
    padding: 30px;
}



.buttons{
    margin: 15px;
}

