@import "../base/_reset";
@import "../base/**";
@import "../modules/**";

// top
.size{
    margin-top: 80px;
    height: 500px;
}

.list {
    li{
        margin-right: 20px;
    }
}

//main
.image-box {
    display: flex;
    justify-content: center;
    background-color: black;
}

@mixin image ($size) {
    height: $size;
    width: $size;
}

.image{
    @include image(300px);
}

@mixin second-img($imgSize) {
    margin: 5px;
    margin-top: 50px;
    height: $imgSize;
    width: $imgSize;
}

.second-img {
    @include second-img(200px);
}

.img-mask{
    position: relative;
    .mask{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        overflow: visible;
        border: 0px solid rgba(255, 215, 0, 0.7);
        box-sizing: border-box;
        transition: all 0.4s ease-in-out;
    }

    &:hover .mask{
        opacity: 1;
        border: 150px solid rgba(255, 215, 0, 0.7);
        font-size: 30px;
        font-weight: bold;
    }

    .caption{
        margin-left: -10px;
    }
}

.second-mask{
    position: relative;

    .small-mask{
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        overflow: visible;
        border: 0px solid rgba(100, 200, 100, 0.7);
        box-sizing: border-box;
        transition: all 0.4s ease-in-out;
        height: 100px;
    }
   

    &:hover .small-mask{
        opacity: 1;
        border: 105px solid rgba(106, 216, 78, 0.7);
        font: {
            size: 20px;
            weight: bold; 
        }
    }
}



//form
.form{
    background: rgb(243, 129, 243);
    height: 450px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 30px;
    padding: 30px;
    font-family: 'baby kruffy';
}

.form-group{
    input{
        width: 400px;
        height: 50px;
    }
}

.options{
    width: 400px;
    height: 50px;
}

.check{
    padding: 10px;
}

.button{
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}




