// @import "/sass/modules/_header.scss";

// top
.size{
    height: 500px;
}

//main
.his-img{
    position: relative;
    .mask{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 310px;
        opacity: 0;
        overflow: hidden;
        border: 0px solid rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
        transition: all 0.4s ease-in-out;
    }
   
    a .caption{
        position: relative;
        top: -10px;
        opacity: 0;
        transform: scale(0,0);
        transition: transform 0.2s ease-in, opacity 0.1s ease-in-out;

    }

    &:hover .mask{
        opacity: 1;
        border: 100px solid rgba(0, 0, 0, 0.7);
    }

    &:hover a .caption{
        opacity: 1;
        transform: scale(1,1);
        transition-delay: 0.3s;
        font-size: 20px;
    }
}

//form
.form{
    background: rgb(243, 129, 243);
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 30px;
    padding: 30px;
}

.form-group{
    input{
        width: 400px;
        height: 50px;
    }
}

.options{
    width: 400px;
    height: 50px;
}

.check{
    padding: 10px;
}

.button{
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.image-box {
    display: flex;
    justify-content: center;
}

@mixin image ($size) {
    margin: 5px;
    height: $size;
    width: $size;
}

.image{
    @include image(300px);
}

@mixin second-img($imgSize) {
    margin: 5px;
    margin-top: 50px;
    height: $imgSize;
    width: $imgSize;
}

.second-img {
    @include second-img(200px);
}

