header {
    
    p {
        color: white;
        margin-left:20px;
        font-weight: bold;

    }
    
    ul {
        background-color:rgb(0, 0, 0);
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;    
        height: 100px;
        display: flex;
        font-size: 30px;
        // margin:0 20px;
    }

    li {
        text-align: center;
        font-weight: bold;

        
        &:hover {
            background-color: black;
            

        }
    }


    .list {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;
    }

    a {
        text-decoration: none;
        color:white;
        padding:20px 5px;


        &:hover {
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
        }

    }
}