header {
  margin-top: -16px;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 20;
}

header p {
  color: white;
  margin-left: 20px;
  font-weight: bold;
}

header ul {
  background-color: black;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  display: flex;
  font-size: 30px;
}

header li {
  text-align: center;
  font-weight: bold;
}

header li:hover {
  background-color: black;
}

header .list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
  padding: 20px 5px;
}

header a:hover {
  color: black;
  background-color: white;
}
